# HTTP и WebSocket клиенты
requests>=2.31.0
websockets>=11.0.3

# Технический анализ
ta>=0.10.2

# Работа с данными
pandas>=2.0.0
numpy>=1.24.0
pydantic>=2.4.2

# Конфигурация
python-dotenv>=1.0.0

# Асинхронное программирование
aiohttp>=3.8.5
asyncio>=3.4.3

# Логирование и форматирование
structlog>=23.1.0
orjson>=3.9.0